html {
    width: 100%;
    height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    height: 100%;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
}

#game-border {
    width: 700px;
    height: 800px;
    border: 5px solid black;
    margin: 50px 0px 50px 0px;
}

#game-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0px auto;
    height: 100%;
    /* opacity: 1;
    visibility: visible;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear; */
}

h1 {
    font-size: 50px;
}

#game-board {
    display: grid;
    grid-template-columns: auto auto;
}

.color {
    background-color: grey;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 5px solid grey;
    transition: opacity 0.3s;
    opacity: 0.6;
}

#red {
    background-color: tomato;
    border-top-left-radius: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-color: tomato;
}

#yellow {
    background-color: yellow;
    border-top-left-radius: 0;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-color: yellow;
}

#blue {
    background-color: blue;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 100%;
    border-color: blue;
}

#green {
    background-color: green;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 0;
    border-color: green;
}

#start-button {
    width: 200px;
    height: 50px;
    margin: 50px 0px 50px 0px;
}

#message {
    font-size: 75px;
    position: absolute;
    align-items: center;
    max-width: 450px;
    top: 180px;
}

/* @keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#game-main.fade-out {
    animation: fadeOut 0.5s forwards;
} */